<h2 class="text-center mt-5">作品一覧</h2>
<%= render 'list', movies: @movies.results %>
<div class="container my-4">
  <div class="row justify-content-center">
    <% pagenation(@page, @movie_total_pages).each do |page| %>
      <% if @page == page %>
        <%= link_to "#{page}", movies_path(page_id: page), :style=>"color:black;", class: "m-1" %>
      <% else %>
        <%= link_to "#{page}", movies_path(page_id: page), class: "m-1" %>
      <% end %>
    <% end %>
  </div>
</div>