<%= render 'movies/list', movies: @movies %>
<div class="container my-4">
  <div class="row justify-content-center">
    <% pagenation(@page, @movie_total_pages).each do |page| %>
      <% if @page == page %>
        <%= link_to "#{page}", searches_genre_search_path(page_id: page, genre_name: @genre), :style=>"color:black;", class: "m-1" %>
      <% else %>
        <%= link_to "#{page}", searches_genre_search_path(page_id: page, genre_name: @genre), class: "m-1" %>
      <% end %>
    <% end %>
  </div>
</div>
  