<div class="container">
  <% if object.errors.any? %>
    <div style="color:red;">
      <%= object.errors.count %>件のエラーが発生しました<br>
    </div>
    <% object.errors.full_messages.each do |message| %>
      <div style="color:red;">
        <%= message %><br>
      </div>
    <% end %>
  <% end %>
</div>