<% members.each do |member| %>
  <h4>名前</h4>
  <%= link_to member_path(member.id) do %>
    <%= member.name %><br>
    <%= attachment_image_tag member, :member_image, :fill, 10, 10, format: 'jpeg', fallback:"unnamed.png", size:'20x20' %>
  <% end %>
  <h4>紹介文</h4>
  <%= member.introduction %><br>
<% end %>